:root {
    --contentWidth: 80%;
    --backgroundColorLight: #f0f0f0;
    --fontColorLight: #0f0f0f;
    --backgroundColorDark: #0f0f0f;
    --fontColorDark: #f0f0f0;
    --gap: 4px;
}

* {
    font-size: 14px;
}

main {
    width: 100%;
    min-height: 100vh;
    color: light-dark(var(--fontColorLight), var(--fontColorDark));
    background-color: light-dark(var(--backgroundColorLight), var(--backgroundColorDark));
    display: flex;
    justify-content: center;
    color-scheme: light;
    transition: 0.2s;
}

.content {
    width: var(--contentWidth);
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 4);
}

.theme {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.inputsContent {
    display: grid;
    grid-template-columns: calc(var(--contentWidth) / 2) auto;
    align-items: flex-end;
}

.searchInput{
    box-shadow: 0px 4px 4px light-dark(#0f0f0f28, #040404);
}

.buttonContent {
    height: min-content;
    display: flex;
    gap: var(--gap);
    justify-content: flex-end;
}

.button {
    box-shadow: 0px 4px 8px light-dark(#0f0f0f28, #040404);
}

.buttonsIcon {
    margin-right: 8px;
}

.table {
    box-shadow: 0px 4px 8px light-dark(#0f0f0f28, #040404);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.tableThContent {
    display: flex;
    justify-content: space-between;
}

.tableThIcons {
    display: flex;
    justify-content: center;
}

.tableThIconsSortIcon {
    position: absolute;
    transition: 0.3s;
    margin: 4px 0 0 -8px;
    transition: 0.2s;
}

.table td input[type=radio] {
    transition: 0.1s;
}

.paginationContent {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    box-shadow: 0px 4px 8px light-dark(#0f0f0f28, #040404);
}

.modalTitle {
    font-size: 24px;
    color: light-dark(var(--fontColorLight), var(--fontColorDark));
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.modalFormLabel {
    color: light-dark(var(--fontColorLight), var(--fontColorDark));
}