:root {
    --contentWidthMobile: 90%;
    --contentWidth: 80%;
    --backgroundColorLight: #f0f0f0;
    --fontColorLight: #0f0f0f;
    --backgroundColorDark: #0f0f0f;
    --fontColorDark: #f0f0f0;
    --gap: 4px;
}

* {
    font-size: 14px;
}

main {
    width: 100%;
    min-height: 100vh;
    color: light-dark(var(--fontColorLight), var(--fontColorDark));
    background-color: light-dark(var(--backgroundColorLight), var(--backgroundColorDark));
    display: flex;
    justify-content: center;
    color-scheme: light;
    transition: 0.2s;
}

.content {
    width: var(--contentWidthMobile);
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 4);
}

.theme {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}


/* ---- Inputs ---- */
.inputsContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.searchInput {
    box-shadow: 0px 4px 4px light-dark(#0f0f0f28, #040404);
}


/* ---- Buttons ---- */
.buttonContent {
    height: min-content;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: flex-end;
    gap: var(--gap);
}

.button {
    box-shadow: 0px 4px 8px light-dark(#0f0f0f28, #040404);
}

.buttonsIcon {
    margin-right: 8px;
}


/* ---- Table ---- */
.table {
    box-shadow: 0px 4px 8px light-dark(#0f0f0f28, #040404);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.tableThContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.tableThIcons {
    display: flex;
    padding-top: 4px;
    justify-content: center;
}

.tableThIconsSortIcon {
    transition: 0.2s;
}

.tableThIconsSortIcon:nth-child(2) {
    margin-left: -9px;
}

.tableThIconsSortIcon:last-child {
    margin-left: -8.4px;
}

th,
td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table td input[type=radio] {
    transition: 0.1s;
}


/* ---- Pagination ---- */
.paginationContent {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    box-shadow: 0px 4px 8px light-dark(#0f0f0f28, #040404);
}


/* ---- Modal ---- */
.modalTitle {
    font-size: 24px;
    color: light-dark(var(--fontColorLight), var(--fontColorDark));
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.modalFormLabel {
    color: light-dark(var(--fontColorLight), var(--fontColorDark));
}

/* ---- Desktop Version ---- */
@media only screen and (min-width: 1024px) {
    .content {
        width: var(--contentWidth);
    }
    
    /* ---- Inputs ---- */
    .inputsContent {
        display: grid;
        grid-template-columns: calc(var(--contentWidth) / 2) auto;
        align-items: flex-end;
        gap: none;
    }

    /* ---- Buttons ---- */
    .buttonContent {
        display: flex;
        justify-content: flex-end;
    }

    /* ---- Table ---- */
    .tableThContent {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}